[Unit]
Description=SmartAudio Bluetooth Pairing Agent
After=bluetooth.service smart-speaker-bluetooth.service
Requires=bluetooth.service
Wants=smart-speaker-bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt//bluetooth/bluetooth_agent.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
