[Unit]
Description=SmartAudio Bluetooth Manager
After=bluetooth.service smart-speaker-bluetooth-agent.service
Requires=bluetooth.service
Wants=smart-speaker-bluetooth-agent.service

[Service]
Type=oneshot
ExecStart=/opt/bluetooth/bin/bt-manager.sh init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target