[Unit]
Description=Smart Speaker WiFi Manager
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/opt/wifi/wifi_manager.sh
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

